
<h1>Author Books</h1>
<div data-sly-use.author="${'com.aemsite.core.models.AuthorBooks'}"></div>

    <div>Author Name:  ${author.authorName} </div>
    ======BOOKS======
    <div data-sly-list.item = "${author.books}" >
    	<p> Book: ${item}</p>
    </div>
    <p> All Books: ${author.books @ join=", "}</p>
    ======BOOK DETAILS USING MAP=====
    <div data-sly-list.item = "${author.bookDetailsWithMap}">
    ---------------Book : ${itemList.count}--------------
    	<p>Book Name :<b> ${item.bookname} </b></p>
        <p>Book Subject :<b> ${item.booksubject} </b></p>
        <p>Publish Year :<b> ${item.publishyear} </b></p>
    </div>
    ======BOOK DETAILS USING BEAN=====
    <div data-sly-list.item = "${author.bookDetailsWithBean}">
    ---------------Book : ${itemList.count}--------------
    	<p>Book Name :<b> ${item.bookName} </b></p>
        <p>Book Subject :<b> ${item.bookSubject} </b></p>
        <p>Publish Year :<b> ${item.publishYear} </b></p>
    </div>
    ================== USING NESTED MULTIFIELD ====================
    <div data-sly-list="${author.bookDetailsNestedMultifield}">
        ---------------Book : ${itemList.count}--------------
        <p> Book : <b>${item.bookName} </b></p>
        <p>Book Subject :<b> ${item.bookSubject} </b></p>
        <p>Publish Year :<b> ${item.publishYear} </b></p>
        <div data-sly-list.edition="${item.bookEditions}">
        ------------------------
            <p> Book Edition : <b>${edition.bookEdition} </b></p>
            <p> Published Date : <b>${'MMM dd,yyyy' @ format=edition.editionDate}</b> </p>
        </div>
    </div>

