
<h1>Author Bio</h1>
<div data-sly-use.author="${'com.aemsite.core.models.Author' @ myAttribute='TestAttribute'}"></div>

    <div>First Name :  ${author.firstName} </div> <!–– getFirstName() - firstName -->
    <div>Last Name :  ${author.lastName} </div>
    <div>Professor : ${author.professor}</div>
    <div>My Attribute :  ${author.myAttribute} </div>
    <div>Page : ${author.currentPage}</div>
    <div>Home : ${author.homePageName}</div>
    <div>Last Modified By : ${author.lastModifiedBy}</div>
    ======BOOKS======
    <div data-sly-list.item = "${author.books}" >
    	<p> Book: ${item}</p>
    </div>